.chartComp {
    /* width: 500px; */
    height: 214px;
    display: flex;
    align-items: end;
    padding: 1.5rem;
    background-color: rgba(213, 213, 213, 0.355);
    font-family: 'poppins-medium';
}