.menuUl {
    /* padding: .3rem; */
    margin-top: 4rem;
    color: #8E92BC;
}

.menuUl .item {
    /* background-color: #F5F5F7; */
    padding: .7rem 1.4rem;
    cursor: pointer;
}

.menuUl .item.active {
    background-color: #f3f4f6;
    color: black;
}